#testpage allow  company pepole visit
#used webpay wappay 
  location ~ ^/testpage/(.*)$ {
     allow 116.228.55.237;
     allow 222.66.102.162;
     allow 101.95.128.138;
     allow 124.74.76.126;
     allow 219.142.42.9;
     deny all;
     proxy_pass http://paycenter-web;
     proxy_set_header        X-Real-IP $remote_addr;
     proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
     proxy_set_header        Host $http_host;
  }
